* {
    background-color: yellowgreen;
}

div{
    margin: 0.5rem 0;
}

div button{
    background-color: blue;
    color: white;
    border-radius: .6rem;
    padding: .5rem;
}

input[type="text"]{
    width: 10rem;
}